@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
}

.footer-text {
  border: solid 4px black;
  padding: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  position: absolute;
  bottom: 0%;
  width: 100%;
}
